<ion-view view-title="Question" xmlns="http://www.w3.org/1999/html">
  <ion-content class="padding">

    <link href="css/style.css" rel="stylesheet">
    <div class="col-sm-3 sidenav padding">

    </div>
    <div class="col-sm-6">
      <button class="btn btn-success" id="demarre" align="center">Démarrer</button>

      <div id="timing">

      </div>

      <canvas id="mycanvas" width="250" height="250"></canvas>
      <div id="button"></div>
      <div class="list">
        <h4 id="questionEncours"></h4>
        <blockquote id="reponsesList">

        </blockquote>
      </div>
    </div>
    <div class="col-sm-2"></div>


  </ion-content>

</ion-view>
